/Jogo/nbproject/private/
/Jogos/nbproject/private/
/Jogos/Jogos-war/nbproject/private/
/Jogos/Jogos-ejb/nbproject/private/
/jogos-jcl/nbproject/private/
/jogos-jcl/build/
/Jogos/Jogos-ejb/build/
/jogos-jcl/dist/
/Jogos/build/
/Jogos/Jogos-war/build/
/Jogos/Jogos-war/dist/
/Jogos/Jogos-ejb/dist/
/Jogos-war/nbproject/private/
/Jogos-war/build/
/Jogos-war/dist/
/Jogos/dist/
/PS1617/nbproject/private/
/PS1617/build/
/PS1617/dist/